body {
    margin: 0;
    padding: 0;
    font-family: "Raleway",sans-serif;
    text-align:center;
    color:#191919;

    
}



#viewport {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align:center;
    margin-top:300px;

}


#viewport #me, #me-text {
    top: 25%;
    width: 60%;
    height: 300px;
    margin-top: -100px;
    font-size:0.5em;
    display: inline-block;

    
}

#me-text{
    width: 80%;

}

@media only screen and (min-width: 480px) and (max-width: 965px) {
    #viewport #me , #me-text  {
        font-size:0.5em;
        height: 200px;
        width:100%;    
        text-align:center;

        margin-top: -100px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 480px) {
    #viewport #me , #me-text  {
        font-size:0.3em;
        height: 100px;
        width:100%;
        text-align:center;

        margin-top: -50px;
    }
}

#viewport #me #header-section , #me-text #header-section{
    color: #454545;
    font-size: 9em;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    line-height: 210px
}

@media only screen and (min-width: 480px) and (max-width: 965px) {
    #viewport #me #header-section , #me-text #header-section{
        line-height:140px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 480px) {
    #viewport #me #header-section , #me-text #header-section{
        line-height:70px;
    }
}
#viewport #me-text #header-smaller {
    color: #454545;
    font-size: 7em;
    font-weight: 200;
    padding-left:6vw;
    margin-top:-100px;
    text-align: left;
    text-transform: uppercase;
    line-height: 140px
}

@media only screen and (min-width: 480px) and (max-width: 965px) {
    #viewport #me-text #header-smaller {
        line-height:100px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 480px) {
    #viewport #me-text #header-smaller{
        line-height:70px;
    }
}

.contact , .paragraph {
    color: #454545;
    font-weight: 100;
    font-size: 3em;
    text-align: center;
    letter-spacing: 0.12em;
    line-height: 90px;
   
}

@media only screen and (min-width: 480px) and (max-width: 965px) {
    #viewport #me .contact ,  #viewport #me .paragraph {
        line-height:60px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 480px) {
    #viewport #me .contact ,  #viewport #me .paragraph {
        line-height:30px;
    }
}

.social{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div.social > div{
    display: inline-block;
    margin-top: 0.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
div.social div a img.social-logo{
    height:60px;
}
@media only screen and (min-width: 480px) and (max-width: 965px) {
    div.social div a img.social-logo{
        height:50px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 480px) {
    div.social div a img.social-logo{
        height:35px;
    }
}

p {
    font-family: 'Roboto',sans-serif;
    color: #262626;
    font-size: 4vmin;
    margin: 2em auto;
    padding: 20px;
    line-height: 1.4;
    text-align: left;
    font-weight:normal; 
}
p span{
    color:#bf3211;

}

a {
    color: #07a;
    text-decoration: none;

}
a:visited {
    color: #941352;
}

#about-me{
    padding-top: 20px;
}

h1{
    font-family: Raleway, sans-serif;
}